*{
  font-family: garamond;
}

body {
  background-color: #B0C5A4;
    color: #D37676 ;
}

#list {
text-align: center;
display: block;
border-radius: 20px;
border: #D37676 1px solid;
background-color: #EBC49F;
padding: 10px;
margin: 10px 30em 0px 30em;
}


.list {
  text-align: center;
  margin-top: 3em;
  display:blo  ;
}


